<hr>
<img class="portada_login" src="./assets/image/portada.jpg" alt="">
<hr>
<div class="main">
  <div class="login-form">
    <div>
    <img class="logo" src="./assets/image/logo.png" alt="">
    <h2>Iniciar sesión</h2>
    </div>
    

    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <strong></strong><label for="username">Escribe tu usuario</label>
        <input type="text" formControlName="username" required placeholder="Usuario">
      </div>

      <div class="form-group">
        <label for="password">Escribe tu contraseña</label>
        <input type="password" formControlName="password" required placeholder="Contraseña">
      </div>

      <button type="submit" class="btn-iniciar">INICIAR</button>
      
      <!-- <div class="forgot-password">
        <a href="#">Olvidé mi contraseña</a>
      </div> -->
    </form>
    
    <div class="new-user">
      <p>¿ERES NUEVO?</p>
      <p class="crear_cuenta">¡Crea una cuenta ahora!</p>
      <button (click)="Regitro()" class="btn-crear">Crear Cuenta</button>
    </div>
  </div>
</div>



