<div class="main">
  <div class="login-form">
    <img src="assets/image/Quinielas_inicio_sesion.png" alt="">
    <img src="assets/image/como_apostar.png" alt="img_apostar" class="img_apostar">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Escribe tu usuario</label>
        <input type="text" formControlName="username" required placeholder="Usuario">
      </div>

      <div class="form-group">
        <label for="password">Escribe tu contraseña</label>
        <input type="password" formControlName="password" required placeholder="Contraseña">
      </div>
      <button type="submit" class="btn-iniciar">ENTRAR</button>
      
      <!-- <div class="forgot-password">
        <a href="#">Olvidé mi contraseña</a>
      </div> -->
    </form>
    
    <div class="new-user">
      <strong><p>¿ERES NUEVO?</p></strong>
      <strong><p class="crear_cuenta">¡Crea una cuenta ahora!</p></strong>
      <button (click)="Regitro()" class="btn-crear">Crear Cuenta</button>
    </div>
  </div>
</div>



