<div class="header">
  <button class="inicio-btn" (click)="goToAdminPanel()">INICIO</button>
  <span class="titulo">PLUMASS</span>
</div>
<div class="linea"></div>
<h2 class="subtitulo">REINICIAR STREAM</h2>
<div class="botones-contenedor">
  <button class="server-btn rojo" (click)="restartStream('4')">Reiniciar Stream 1</button>
  <button class="server-btn dorado" (click)="restartStream('2')">Reiniciar Stream 2</button>
  <!-- <button class="server-btn" (click)="restartStream('5')">Reiniciar Stream 3</button> -->
</div>
