<div class="modal-overlay">
  <div class="modal-content">
    <h2>Pelea {{numeroPelea}}</h2>
    <!-- <h2>Seleccione el ganador</h2> -->
    <div class="button-container">
      <!-- <button class="red" [class.selected]="selectedWinner === 'rojo'" (click)="selectWinner('rojo')">Rojo</button>
      <button class="green" [class.selected]="selectedWinner === 'verde'" (click)="selectWinner('verde')">Verde</button> -->
      <button class="close" (click)="closeBets()">Cerrar Apuestas</button>
      <button class="close" (click)="closeModal()">Cerrar</button>
    </div>
  </div>
</div>