<div class="modal-overlay">
    <div class="modal-content">
      <div class="instructions">
      <h2>Instrucciones</h2>
      <p>1. Realiza tu pago con cualquiera de los establecimientos permitidos.<br>
        2. Toma una foto de tu comprobante de pago.<br>
        3. Dale a "Siguiente" para subir tu recibo.<br>
        4. O también puedes ir a "Mi perfil" y luego toca o da click en
        "Subir comprobante".<br>
        5. En los proximos minutos un miembro de nuestro equipo revisará tu comprobante y se añadirá el saldo a tu cuenta.
      </p>
      </div>
        <div class="alert">
          <p>⚠️ Envíanos tu comprobante de pago para
            actualizar tu saldo.</p>
        </div>
      <div class="modal-buttons">
        <button (click)="onClose()">Cancelar</button>
        <button (click)="confirmPurchase()">Siguiente</button>
      </div>
    </div>
  </div>
  