
.main{

    min-height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-image: url('../../assets/image/Fond_de_quinielas.jpg');
  }
  
  .menu-container{
  
    width: 100%;
    height: 100%;
  }
  
  form {
    width: 100%;
    height: 100%;
    background-color: rgba(71, 71, 71, 0.5);
    padding: 10%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* Cambia la dirección del flujo a vertical */
    align-items: center; /* Alinea los elementos en el centro vertical */
  }
  .formContainer{
    margin: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    max-width: min(80%,50vh);
  }
  form btn-iniciar{
  
    color: var(--colorPrimary);
  }
  label {
    display: block;
    margin-bottom: 8px;
    font-size: 0.9rem;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  
  button:hover {
    background-color: #45a049;
  }
.btn-submitLeft {
   background-color: #ffffff;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  position: fixed;
  top: 4px;
  left: 4px;
  z-index: 10000;
}
  
.btn-submitLeft:hover {
    background-color: #45a049;
  }
  .image-preview-container {
    width: 100%; /* Ancho fijo del contenedor */
    height: auto; /* Altura fija del contenedor */
    overflow: hidden; /* Oculta el contenido adicional */
  }
  
  .profile-image {
    width: 100%; /* La imagen ocupa el 100% del contenedor */
    height: 100%; /* La altura ocupa el 100% del contenedor */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor manteniendo la relación de aspecto */
  }
  
  @media screen and (-webkit-min-device-pixel-ratio:0) {
  
      input:focus {
          font-size: 16px;
      }
  }

  input[type="text"],
input[type="number"],
input[type="file"] {
  background: #fff;
  color: #000;
  border: 2px solid #000;
  border-radius: 30px;
  font-weight: bold;
  padding: 8px 18px;
  font-size: 1rem;
  outline: none;
  margin-bottom: 16px;
  width: 100%;
  box-sizing: border-box;
}

input[type="file"] {
  padding: 6px 10px;
  cursor: pointer;
}

.btn-volver-img {
  background: transparent;
  border: none;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  cursor: pointer;
}

.btn-volver-img img {
  width: 70px; /* o el tamaño que prefieras */
  height: 70px;
  display: block;
}

.btn-iniciar{
    background: linear-gradient(to bottom, #000 0%, #c8921c 60%, #c8921c 100%);
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 0.9rem;
    height: 40px;
    width: 70px;
    font-weight: 1000;

}