<div class="main">
  <div class="menuContainer">
    <app-menu></app-menu>
    <div>
      <button class="btn-submitLeft" (click)="Volver()">
        INICIO
      </button>
    </div>
  </div>

  <div class="formContainer">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
      <h2>Iniciar Stream</h2>
      
      <!-- Columna izquierda -->
      <div class="form-left">
        <label for="tituloStream">Título del Stream:</label>
        <input type="text" formControlName="tituloStream" id="tituloStream" required>

        <label for="numeroStream">Número del Stream:</label>
        <select formControlName="numeroStream" id="numeroStream" required>
          <option value="1">1</option>
          <option value="2">2</option>
        </select>

        <div class="checkbox-container">
          <input type="checkbox" formControlName="esVIP" id="esVIP">
          <label for="esVIP">Stream VIP</label>
        </div>
      </div>

      <!-- Columna derecha -->
      <div class="form-right">
        <label for="userImage">Miniatura: Elegir</label>
        <input type="file" id="userImage" name="userImage" accept="image/*" required (change)="handleImageChange($event)" formControlName="image">
        
        <div *ngIf="imagePreview" class="image-preview-container">
          <img [src]="imagePreview" alt="Vista previa de la imagen" class="profile-image">
        </div>
      </div>
    </form>

    <!-- Sección inferior con URL, INICIAR y KEY -->
    <div class="bottom-section">
      <div class="url-section">
        <div class="url-container">
          <label>URL:</label>
          <textarea readonly>{{ urlStream }}</textarea>
        </div>
        
        <button type="submit" class="btn-iniciar" (click)="onSubmit()">Iniciar</button>
        
        <div class="clave-container">
          <label>KEY:</label>
          <textarea readonly>{{ claveStream }}</textarea>
        </div>
      </div>
    </div>
  </div>
</div>




