

.confirm-button, .cancel-button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.confirm-button {
  background-color:  #FD9E00; /* Rojo para eliminar */
}

.cancel-button{
  background-color: #f44336;
}